= render "shared/header"

%main.content
  .content__inner
    .content__inner__time
      #clock_frame
        / 日付部分
        %span#clock_date
        / 時刻部分
        %span#clock_time

  = link_to "/alarms/show" do
    アラームを設定する
