= render "shared/header"

%main.content
  .content__inner
    .content__inner__time
      #clock_frame
        / 日付部分
        %span#clock_date
        / 時刻部分
        %span#clock_time
  -if user_signed_in?
    = link_to alarm_path(@user.id) do
      アラームを設定する
  -else
    %li.header__inner__right__singup
      = link_to "新規登録", new_user_registration_path
    %li.header__inner__right__signin
      = link_to "ログイン", new_user_session_path